<!-- project Name: Automated Traffic surveillance system -->
<!-- Author Name:  Deval Srivastava -->
<!-- Filename: form.ejs -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>
   <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
   <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="form.css">
    <title>entry</title>
  </head>
  <body>
    <div class="ui sidebar inverted left vertical menu ">
      <a class="item" href="/home">
        home
      </a>
      <a href="/form" class="item">
        form
      </a>
    </div>
    <div class="pusher">
      <div class="ui top menu">
        <div class="item">
          <i class="sidebar icon large"></i>
        </div>
        <div class=" ui centered header item">
          Traffic surveillance system
        </div>
        <div class="right item">
          <div class="item">
            <div class="ui transparent icon input">
              <form action="/search" method="get">
                <input type="text" placeholder="Search" id="sinput" type="text" name="q">
                <i class="search link icon"></i>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="ui grid container">
      <div class="center aligned column">
        <h2 class="ui icon header">
          <i class="medium icons">
            <i class="file icon"></i>
            <i class="corner add icon"></i>
          </i>
          <div class="content">
            Add Information
          </div>
        </h2>

        <h4 class="ui horizontal divider header">
            <i class="tag icon"></i>
              Form
        </h4>
      </div>
    </div>
    <div class="ui two column grid centered">
      <div class="column">
        <form class="ui form" method="POST" action="/formin" enctype="multipart/form-data"  >
          <div class="field">
            <label>License plate Number</label>
            <input type="text" name="body[liplate]" placeholder="License plate">
          </div>
          <div class="field">
            <label>Offense Type</label>
            <input type="text" name="body[offense_type]" placeholder="Offense Type">
          </div>
          <div class="field">
            <label>vehicle Type</label>
            <input type="text" name="body[vehicle_type]" placeholder="Vehicle Type">
          </div>
          <div class="field">
            <label>Date</label>
            <div class="ui calendar" id="date_only">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" name="body[date]" placeholder="Date">
              </div>
            </div>
          </div>
          <div class="field">
            <label>location</label>
            <input type="hidden" name="body[coords]" id="mapform">
            <div id="mapid">
          </div>
          </div>
          <div class="field">
          <input type="file" name="image" class="ui button">
        </div>
          <button class="ui button" type="submit">Submit</button>
        </form>

      </div>
    </div>
    <div class="ui inverted stacked vertical footer segement " id="footer">
      <div class="ui container">
        <h2 class="ui center aligned header">
          <img src="/img/EyantraLogoLarge.png" alt="eyantra_logo">
        </h2>
      </div>
    </div>
    </div>
  </body>
  <script src="form.js"></script>
</html>
